<!DOCTYPE html>
<html>
  <head>
    <title>Fundu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">uFundit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ufund-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="ufund-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
    </div>
  </nav>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 body-div">
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
